table{
	width: 90%;
	margin: 0 auto;
}
th{
	text-align: center;
}
th:nth-child(1){
	width: 10%;
}
th:nth-child(2){
	width: 60%;
}
td{
	text-align: center;
}
table, th, td {
        border: 1px solid black;
    }
table img{
	width: 45px;
	height: 45px;
	border-radius: 100px;
}
.top_page_container{
	width: 90%;
	margin: 0 auto;
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: 40px;
}
.gen_container{
	display: flex;
    flex-direction: column-reverse;
    align-items: center;
	cursor: pointer
}
.gen_container img{
	width: 45px;
	height: 45px;
	border-radius: 100px;
}
.gen_container p{
	margin-bottom: 0;
	font-weight: 700;
}
.add_profile_container{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.add_profile_but{
	    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8b0000;
    color: #fff;
    border-radius: 100px;
    font-weight: 700;
    cursor: pointer;
}
.add_profile_container p{
	margin-bottom: 0;
	font-weight: 700;
}
#user_table_body tr{
	background-color: #fff;
	transition: .4s;
}
#user_table_body tr:hover{
	cursor: pointer;
	background-color: #eee4e2;
	transition: .4s;
}
.bd_dd{
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.bd_dd_cont{
	display: flex;
}
.add_user_photo_cont{
	position: relative;
	width: 100%;
}
.add_user_photo_cont .container{
	width: 24px!important;
    height: 24px!important;
    padding: 0!important;
    margin: 0!important;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
	background-color: #8b0000;
	cursor: pointer;
}
.cropper_edit_but{
	position: absolute;
    left: 0;
    right: 0;
	width: 100%;
}
.nophoto_but{
	width: fit-content;
    display: block;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 4%;
}
.image{
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
	cursor: pointer;
}
.bd_dd_cont p:nth-child(1){
	width: 76px;
	display: flex;
	justify-content: flex-end;
}
.bd_dd_cont p:nth-child(2){
	width: 5px;
	display: flex;
	justify-content: center;
}
.bd_dd_cont p:nth-child(3){
	width: 76px;
	display: flex;
	justify-content: flex-start;
}
.bd_dd p{
	margin-bottom: 0;
}
.user_changed{
	display: flex;
    width: 14%;
    justify-content: space-between;
	opacity: 0;
	transition: .4s;
}
.user_changed_link{
	display: flex;
}
.user_changed_info{
	height: 16px;
    display: flex;
}
.user_changed_info img{
	width: 16px;
    height: 16px;
	border-radius: 0;
}
#user_table_body tr:hover .user_changed{
	opacity: 1;
	transition: .4s;
}
.add_user_profile_container{
	width: 100%;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
	display: none;
	padding: 0 17%;
}
.add_user_profile_top_cont{
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: 5%;
}
.add_user_profile_fio p{
	margin-top: 10px;
	margin-bottom: 3px;
	
}
.add_user_profile_fio p:first-child{
	margin-top: 0;
}
.add_user_profile_fio input{
	border: 0;
    border-bottom: 1px solid #ccc;
	outline: none;
}
.add_user_profile_center_bddd_nophoto{
	margin-top: 6%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.add_user_profile_bddd_cont{
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 43%;
}
.add_user_profile_bddd_cont input{
	border: 0;
    border-bottom: 1px solid #ccc;
	outline: none;
}
.add_user_profile_bottom_cont{
	margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add_user_profile_bottom_cont input{
	border: 0;
    border-bottom: 1px solid #ccc;
	outline: none;
}
.add_user_profile_bottom_cont p{
	margin-bottom: 2px;
}
.add_user_profile_overbottom{
	margin-top: 5%;
    width: 18%;
    margin-left: 41%;
}
.add_user_profile_close_popup, .add_user_profile_close_popup_new{
	cursor: pointer;
    position: absolute;
    top: 2%;
    right: 14%;
    background-color: #8b0000;
    padding: 5px 10px;
    border-radius: 7px;
	color: #fff;
}
.add_user_profile_photo{
	width: 320px;
    height: 320px;
    background-color: #f5efef;
}
.add_user_profile_container_prew{
	position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}
.add_user_profile_container_prew > p:first-child{
	margin: 0 auto;
    width: fit-content;
    margin-top: 5%;
}
.add_user_profile_container_prew .add_user_profile_fio{
	width: fit-content;
    margin: 0 auto;
    margin-top: 2%;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error_in_add{
	color: red;
}
.warning1{
	color: red;
	width: fit-content;
    margin: 0 auto;
    margin-top: 3%;
}


@media(max-width: 900px){
	.user_changed{
		opacity: 1;
	}
	.bd_dd_cont p:nth-child(1){
		width: 86px;
	}
	.bd_dd_cont p:nth-child(2){
		display: none!important;
	}
	.bd_dd_cont p:nth-child(3){
		width: 86px;
	}
	.bd_dd_cont{
		flex-direction: column;
	}
	.bd_dd{
		flex-direction: column;
	}
	.user_changed{
		width: 100%;
		justify-content: space-around;
		margin-top: 7px;
		margin-bottom: 7px;
	}
	.add_user_profile_container{
		width: fit-content;
   		height: fit-content;
		padding: 0 7%;
   	 	z-index: 10;
    	min-width: 320px;
	}
	.add_user_profile_center_cont{
		display: flex;
    flex-direction: column;
    align-items: flex-start;
	}
	.add_user_profile_top_cont{
		margin-top: 13%;
    	flex-direction: column;
    	align-items: flex-start;
	}
	.add_user_profile_photo{
		width: 100%;
    	height: 100%;
	}
	.add_user_profile_center_bddd_nophoto{
		align-items: center;
    	justify-content: space-between;
    	flex-direction: column;
	}
	.add_user_profile_bddd_cont{
		margin-top: 4%;
		flex-direction: column;
		align-items: center;
	}
	.add_user_profile_bddd_inputs{
		display: flex;
	}
	.add_user_profile_overbottom{
		width: 38%;
    	margin-left: 31%;
	}
	.add_user_profile_close_popup, .add_user_profile_close_popup_new{
		top: 1%;
    	right: 5%;
	}
	.add_user_profile_bottom_cont{
		flex-direction: column;
	}
	.add_user_profile_bddd_inputs{
		flex-direction: column;
	}
}