table{
	width: 90%;
	margin: 0 auto;
}
th{
	text-align: center;
}
th:nth-child(1){
	width: 10%;
}
th:nth-child(2){
	width: 60%;
}
td{
	text-align: center;
}
table, th, td {
        border: 1px solid black;
    }
table img{
	width: 45px;
	height: 45px;
	border-radius: 100px;
}